body {
    background-color: #030C55;
}
h1 {
    background-color: white;
}
h2 {
    color: #EBFF00;
}
p {
    color: white;
}

#kabe2 {
    width: 21%;
    height: auto;
    position: absolute;
    left: 38%;
    cursor: pointer;
}
#kabe {
    width: 21%;
    height: auto;
    position: absolute;
    left: 16%;
    cursor: pointer;
    bottom: 9%;
}
#kabe1 {
    width: 21%;
    height: auto;
    position: absolute;
    left: 60%;
    cursor: pointer;
    bottom: 9%;
}

#icon1 {
    width: 19%;
    height: auto;
    position: absolute;
}

#aaa {
    width: 40%;
    height: auto;
    position: absolute;
}
