body {
    background-color: #030C55;
}
h1 {
    background-color: white;
}
h2 {
    color: #EBFF00;
}
p {
    color: white;
}
.box img {
    width: 41%;
    height: auto;
    position: absolute;
    left: 28%;
}
.box1 {
    position: absolute;
    text-align: center;
    line-height: 550%;
    color: white;
    background-color: rgb(66, 66, 241);
    width: 200px;
    height: 100px;
    border-radius: 100px / 50px;
    position: absolute;
    left: 40%;
    top: 60%;
}

#bun {
     position: absolute;
     text-align: center;
     color: white;
}
